.inventoryContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: lightgrey;
}

.inventoryForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  align-items: center;
}

.innerForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.inventoryForm h2 {
  margin: 0;
  font-size: 24px;
  color: black;
}

.inputField {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.submitButton {
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submitButton:hover {
  background-color: #0056b3;
}

.inventoryLink {
  font-size: 14px;
  color: black;
}

.inventoryLink a {
  color: #007bff;
  text-decoration: none;
}

.inventoryLink a:hover {
  text-decoration: underline;
}
