.navbar {
  background-color: #111111;
  height: 60px;
  margin: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.logocontainer {
  margin-left: 20px;
}
.logo {
  width: 60px;
}
.contents {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 30px;
  gap: 30px;
}
.contents li {
  color: white;
  transition: 0.7s;
  font-size: 1.3em;
}
.contents li:hover {
  text-shadow: 0px 0px 3px #2930f6;
  cursor: pointer;
}
